body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: opacity 300ms;
}
body[bg]{
    background-image: url("https://picstatio.com/download/2560x1440/e754a7/geometrical-triangles-abstract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* toastify */
.toastify {
    padding: 12px 20px;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5);
    position: fixed;
    top: -150px;
    right: 15px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .toastify.on { opacity: 1; }
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.hd{
    display: flex;
    align-items: center;
    padding: 1em;
}
.hd p{
    margin-top: 0.2em;
    background: linear-gradient(328deg, rgba(255,0,172,1) 0%, rgba(255,0,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.hd h1{
    letter-spacing: 0.05em;
    font-size: 2.3em;
}
.hd div{
    margin-right: 2em;
}
.hd a{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-right: 1em;
}
.hd a::before {
    content: "";
    position: absolute;
    top: calc(100% + 3px);
    width: 100%;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(328deg, rgb(255, 0, 234), rgba(255,0,0,1));
    background-size: 200% 200%;
}
.hd a:hover::before{
    content: "";
    animation: gradient 3s ease infinite;
    position: absolute;
    top: calc(100% + 3px);
    width: 100%;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(328deg, rgba(255,0,244) 0%, rgba(255,0,0,1));
    background-size: 200% 200%;
}
#pro{
    letter-spacing: normal;
    padding-left: 0.13em;
    padding-right: 0.13em;
    border-radius: 3px;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255,0,172);
    background: linear-gradient(138deg, rgba(255,0,172,1), rgba(255,0,0,1));
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.vert-bar-nav{
    position: absolute;
    top: 0.7em;
    left: 0.7em;
    background-color:rgba(255, 255, 255, 0.233);
    border-radius: 0.3em;
    padding: 0.3em;
    width: max-content;
    width: 2.6em;
}
.vert-bar-nav>div{
    width: max-content;
    display: inline-block;
}
.navsvg{
    width: 2.5em;
    height: 2.5em;
}
.bottom-versioning{
    position: absolute;
    bottom: 0px;
    width: calc(100vw - 2em);
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}
.bottom-versioning p{
    font-family: consolas, Arial, Helvetica, sans-serif;
}
.bottom-versioning #v{
    font-family: monospace;
    font-size: 1em;
}